<div class="container mt-4">
    <h2 class="mb-4">Job Details</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= job.jobTitle %></h5>
        <p class="card-text">Company: <%= job.companyName %></p>
        <p class="card-text">Qualification: <%= job.qualification %></p>
        <p class="card-text">CGPA Requirement: <%= job.cgpa %></p>
        <p class="card-text">Package: <%= job.package %></p>
        <p class="card-text">
          Last Date: <%= new Date(job.lastDate).toDateString() %>
        </p>
        <p class="card-text">Description: <%= job.jobDescription %></p>
        <% if (locals.user) { %>
        <form
          action="/student/apply-job/<%= job._id %>"
          method="POST"
          style="display: inline"
        >
          <button type="submit" class="btn btn-success">Apply</button>
        </form>
        <% } %>
      </div>
    </div>
  </div>
  